.popup__container-close {
    position: absolute;
    top: -40px;
    right: -40px;
    opacity: 1;
    -webkit-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;
    transition: opacity 0.7s;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .popup__container-close {
        width: 20px;
        height: 20px;
        top: -32px;
        right: 0px;
    }
}

.popup__container-close:hover {
    cursor: pointer;
    opacity: 0.6;
}